<div>
  <h1>BENVENUTO {{ newsService.getLoggedUser()!.user.name }}</h1>
</div>

<!-- <ng-container *ngIf="">
  <button mat-button (click)="logout()">
    Benvenuto {{ loginService.getLoggedUser()!.user.name }}
  </button>
</ng-container> -->

<h3>Fai qui la tu ricerca</h3>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input
      type="tel"
      matInput
      placeholder="Search"
      name="search"
      [(ngModel)]="searchTerm"
    />
    <button matSuffix mat-button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <br />
</form>

<!-- <input type="text" matInput [(ngModel)]="searchTerm" placeholder="Cerca" />
<button (click)="search()">Cerca</button> -->
<div *ngIf="model">
  <mat-card *ngFor="let n of newsSearch">
    <!-- <p>{{ n.id }}</p> -->
    <h3>{{ n.author }}</h3>
    <h5>{{ n.title }}</h5>
    <a href="{{ n.urlToImage }}">{{ n.urlToImage }}</a>
    <p>{{ n.description }}</p>
    <!-- <p>{{ n.url }}</p> -->
    <a href="{{ n.url }}" target="_blank">{{ n.url }}</a>
    <!-- <p>{{ n.country }}</p>
    <p>{{ n.language }}</p> -->
  </mat-card>
</div>
